# Auto detect text files and perform LF normalization
* text=auto

# Language detection overrides
*.py linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
# Exclude generated map files from language statistics
EduRise/enrollment/static/enrollment/maps_html/*.html linguist-generated=true